@import url("../colors.css");

:root {
  font-size: 16px;
}

.home-container {
  height: 500vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: var(--color-background);
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  color: var(--color-text);
}

.welcome-screen {
  background-color: var(--color-accent-background);
  text-align: center;
  position: relative;
}

.why-linkcard-screen {
  background-color: var(--color-secondary-background);
  border-top: 1px solid var(--color-border);
}

.features-screen {
  background-color: var(--color-accent-background);
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

.how-it-works-screen {
  background-color: var(--color-light-background);
  text-align: center;
}

.get-started-screen {
  background-color: var(--color-background-secondary);
  text-align: center;
}

.title {
  font-size: 2.8rem;
  color: var(--color-accent);
  margin-bottom: 10px;
}

.welcome-message {
  font-size: 1.3rem;
  color: var(--color-success);
  margin: 20px 0;
}

.welcome-message span {
  font-weight: bold;
  color: var(--color-accent);
}

.button-group {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 20px 0;
}

.primary-button,
.secondary-button {
  padding: 15px 25px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.primary-button {
  background-color: var(--color-accent);
  color: var(--color-button-text);
}

.secondary-button {
  background-color: var(--color-button-secondary);
  color: var(--color-button-text);
}

.primary-button:hover {
  background-color: var(--color-hover);
  transform: translateY(-3px);
}

.secondary-button:hover {
  background-color: var(--color-dark);
  transform: translateY(-3px);
}

.features-list {
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--color-info);
}

.get-started-screen .primary-button {
  margin-top: 20px;
}

.scroll-down {
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 36px;
  animation: bounce 1s infinite;
}

.arrow-icon {
  font-size: 2rem;
  color: var(--color-accent);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}
