.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  font-weight: 500;
}

.input {
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.error {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 14px;
}
