/* @import url("../colors.css");

.reset-password-container {
    height: 100dvh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reset-password-wrap {
    max-width: 90%;
    width: 600px;
    min-height: 400px;
    padding: 16px 24px;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-disabled);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.reset-password-wrap h2 {
    margin-bottom: 24px;
}

.reset-password-wrap form {
    width: 100%;
    padding: 0;
}

.reset-password-wrap form button {
    width: 100%;
} */

@import url("../colors.css");

.reset-password-container {
  height: 100dvh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reset-password-wrap {
  max-width: 90%;
  width: 600px;
  min-height: 400px;
  padding: 16px 24px;
  background-color: var(--color-background-secondary);
  border: 1px solid var(--color-disabled);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.reset-password-container h2 {
  margin-bottom: 24px;
}

.reset-password-container form {
  width: 100%;
}

.password-input-container {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.password-input-container input {
  margin-bottom: 0 !important;
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
  height: 40px;
}

.password-input-container button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 24px;
  line-height: 1;
}

.password-input-container button:hover {
  background-color: transparent;
  color: #ffffff;
}

.reset-password-submit {
  width: 100%;
}
